.cart-popup {
  position: fixed;
  /* display: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 200;
}

.cart-popup .cart-cont {
  float: right;
  background-color: #f5f5f5;
  height: 100%;
  max-width: 600px;
  width: 100%;
  transform: translateX(100%);
  animation: slide-in 0.3s forwards;
  -webkit-animation: slide-in 0.3s forwards;
  overflow: auto;
}

.cart-popup .cart-cont::-webkit-scrollbar {
  width: 5px;
}

.cart-popup .cart-cont.closing {
  transform: translateX(0);
  animation: slide-out 0.5s;
  -webkit-animation: slide-out 0.5s;
}

.cart-popup .header {
  text-align: center;
  padding: 15px 10px;
  border-bottom: 2px solid #ddd;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.cart-popup .header .icon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  margin-top: -5px;
  cursor: pointer;
}

.cart-cont .checkout {
  text-align: center;
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  font-weight: 300;
  /* color: grey; */
  align-items: center;
}

.cart-popup .sub-tot {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-popup textarea {
  background-color: white;
  color: #252525;
  width: 100%;
  height: 80px;
  resize: none;
  border: 1px solid #ddd;
  padding: 10px;
}

.cart-cont .checkout button {
  width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
  font-size: 16px;
}

.cart-cont .cart-empty {
  width: 100%;
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.cart-cont .cart-empty .icon {
  font-size: 50px;
}

.cart-cont #to-cart {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

@keyframes slide-in {
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes slide-in {
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  100% {
    transform: translateX(100%);
  }
}

@-webkit-keyframes slide-out {
  100% {
    transform: translateX(100%);
  }
}
