.settings .settings-list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 30px;
    position: relative;
}

.settings .settings-list select,
.settings .settings-list input {
    padding: 10px;
    width: 100%;
    background-color: white;
    color: #252525;
    border: 1px solid lightgrey;
    margin-top: 10px;
    appearance: none;
}