.dashboard .fields {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.dashboard .field {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.dashboard .field h3 {
  font-weight: 600;
  color: #252525;
}

.dashboard .cat {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 40px;
  row-gap: 20px;
  /* justify-content: space-between; */
}

.dashboard .cat div {
  padding: 20px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  flex: 1 1 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 5px;
}

.dashboard .cat .graph {
  flex: 2.5;
}

.dashboard .time,
.dashboard .title {
  text-transform: uppercase;
  font-weight: 800;
  color: grey;
}

.dashboard .balance,
.dashboard .count {
  font-size: 30px;
  font-weight: 900;
  color: navy;
}

.dashboard .count-info {
  color: darkgray;
}
