.products-view .pv-cont {
  padding: 20px;
}

.products-view .header {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-view .filters {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  font-size: 20px;
}

.products-view .proparty {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
  text-transform: capitalize;
}

.products-view .select {
  position: relative;
  display: inline-block;
  border: 1px solid grey;
}

.products-view .select::after {
  content: "\e902";
  position: absolute;
  font-family: "flex-icon" !important;
  right: 7px;
  font-size: 14px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.products-view .select select {
  border: none;
  background-color: transparent;
  color: #252525;
  outline: none;
  appearance: none;
  font-size: 18px;
  padding: 5px 10px;
  padding-right: 30px;
  appearance: none;
  width: 100%;
  background-color: transparent;
}

.products-view .pv-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 30px;
  row-gap: 90px;
  padding-top: 30px;
  padding-bottom: 70px;
}

.products-view .pv-products #no-results {
  grid-column: span 4;
  align-items: center;
  text-align: center;
  padding: 100px;
  color: #252525;
  font-weight: 900;
  font-size: 25px;
  opacity: .2;
}
