.promo-header {
  /* margin-top: 50px; */
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;

  background: rgba(241, 241, 241, 1);
  background: conic-gradient(
    from 180deg,
    rgba(241, 241, 241, 1),
    rgba(221, 221, 221, 1)
  );
}

.promo-cont {
  display: grid;
  grid-template-columns: 50% 50%;
}

.promo-cont img {
  width: 100%;
  mix-blend-mode: multiply;
}

.promo-cont .promo-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

.promo-cont .price {
  color: red;
}
