.promo-header {
  width: 100%;
  background: rgba(241, 241, 241, 1);
  background: conic-gradient(from 180deg,
      rgba(241, 241, 241, 1),
      rgba(221, 221, 221, 1));
}

.promo-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 600px;
  column-gap: 20px;
}

.promo-header .promo-img {
  height: 100%;
}

.promo-cont .skeleton {
  height: 100%;
}

.promo-cont img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.promo-cont .promo-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  row-gap: 30px;
}

.promo-cont h1 {
  width: 100%;
}

.promo-cont .price {
  /* width: 100%; */
  color: red;
}