.check-out {
    min-height: 100vh;
}

.check-out .check-out-cont {
    padding: 20px;
    display: grid;
    grid-template-columns: .6fr .4fr;
    column-gap: 20px;
}

.check-out .card-info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 10px;
    width: 70%;
}

.check-out .card-info .field {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.check-out .card-info input,
.check-out .card-info select {
    padding: 10px;
    background-color: transparent;
    color: #252525;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 100%;
    appearance: none;
}

.check-out .card-info .c-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.check-out .card-info .c-info input:first-child {
    grid-column: span 2;
}

.check-out .card-info button {
    width: 95%;
    padding: 12px 0;
    margin: auto;
}