.check-out {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 55% 45%;
  position: relative;
}

.check-out .c-left {
  background-color: #252525;
}

.check-out .c-right {
  background-color: white;
}

.check-out .check-out-cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.check-out .c-o-c {
  display: grid;
  grid-template-columns: 55% 45%;
}

.check-out .check-out-info {
  width: 100%;
  padding: 30px 10px;
  color: #f1f1f1;
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.check-out .check-out-info .tabs {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

.check-out .check-out-cart {
  padding: 30px 10px;
  background-color: white;
  min-height: 100vh;
}
