.footer {
    background-color: #252525;
    color: #fff;
    padding: 30px 10px;
}

.footer .f-tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer h3,
.electric {
    margin-bottom: 20px;
}

.footer li {
    padding: 5px;
}

.footer a {
    padding: 5px;
    color: lightgrey;
}