.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .icon-btn {
  padding: 0 10px;
  border-radius: 100%;
}

.tooltip .icon-btn:hover {
  background-color: #f1f1f1;
  color: red;
}

.tooltip .icon-btn:hover .icon {
  border-bottom: 1px dotted red;
}

.tooltip .icon {
  font-size: 30px;
  padding: 5px 0;
  border-bottom: 1px dotted black;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #2b2b2b;
  color: #fff;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s all;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.tooltip .arrow {
  position: relative;
  width: 100%;
}

.tooltip .pointer {
  position: absolute;
  bottom: -12px;
  left: 50%;
  width: 0;
  height: 0;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #2b2b2b;
}
